<template>
  <div class="container">
      <ValidationObserver v-slot="{ handleSubmit }">
        <form class="form" @submit.prevent="handleSubmit(onSubmit)">
            <h1>{{title}}</h1>

            <!--Name-->
            <ValidationProvider name="Name" rules="required" v-slot="{ errors }">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input 
                        v-model="name"
                        type="text" 
                        class="form-control" 
                        id="name" 
                        placeholder="Enter Name"
                    />
                    <span class="error">{{ errors[0] }}</span>
                </div>
            </ValidationProvider>

            <!--Email-->
            <ValidationProvider name="Email" rules="required|email" v-slot="{ errors }">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input
                        v-model="email" 
                        type="email" 
                        class="form-control" 
                        id="email" 
                        placeholder="Enter email"
                    />
                    <span class="error">{{ errors[0] }}</span>
                </div>
            </ValidationProvider>
            
            <!--Phone-->
            <ValidationProvider name="phone" rules="required" v-slot="{ errors }">
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input 
                        v-model="phone"
                        type="text" 
                        class="form-control" 
                        id="phone" 
                        placeholder="Enter phone"
                    />
                    <span class="error">{{ errors[0] }}</span>
                </div>
            </ValidationProvider>

            <!--Address-->
            <ValidationProvider name="address" rules="required" v-slot="{ errors }">
                <div class="form-group">
                    <label for="address">Address</label>
                    <textarea 
                        v-model="address"
                        type="text" 
                        class="form-control" 
                        id="address" 
                        placeholder="Enter address"
                    />
                    <span class="error">{{ errors[0] }}</span>
                </div>
            </ValidationProvider>

            <!--ZipCode-->
            <ValidationProvider name="zipcode" rules="required|zipcode" v-slot="{ errors }">
                <div class="form-group">
                    <label for="zipcode">Zipcode</label>
                    <input 
                        v-model="zip"
                        type="text" 
                        class="form-control" 
                        id="zipcode" 
                        placeholder="Enter zipcode"
                    />
                    <span class="error">{{ errors[0] }}</span>
                </div>
            </ValidationProvider>

            <!--User Photo-->
            <div class="form-group">
                <label>User Photo</label>
                <input
                    ref="profile_pic" 
                    type="file" 
                    class="form-control"
                    accept="image/x-png,image/gif,image/jpeg"
                    v-on:change="handleUserPicUpload()"  />
            </div>

            <!--License Documents-->
            <div class="form-group">
                <label>License Documents</label>
                <input 
                    ref="document_img"
                    type="file" 
                    class="form-control"
                    accept="image/x-png,image/gif,image/jpeg"
                    v-on:change="handleDocsUpload()"  />
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </ValidationObserver>  
  </div>
</template>

<script>
import Vue from 'vue'
import { ValidationProvider, extend, ValidationObserver } from 'vee-validate';
import { required, email, image } from 'vee-validate/dist/rules';
import axios from 'axios'
import VueAxios from 'vue-axios'
 
Vue.use(VueAxios, axios)

extend('required', {
  ...required,
  message: 'This field is required'
});

extend('email', {
  ...email,
  message: 'Not a valid email'
});

extend('image', {
  ...image,
  message: 'File type should be image only'
});

extend('zipcode', value => {
  return value.length == 5;
});

export default {
  name: 'FormInput',
  props: {
    title: {
        type: String,
        default: "Please fill information below"
    }
  },
  components: {
    ValidationProvider,
    ValidationObserver
  },
  data: () => ({
    name: '',
    email: '',
    phone: '',
    address: '',
    zip: '',
    profile_pic: '',
    document_img: ''
  }),
  methods: {
    onSubmit () {
      alert('Form has been submitted!')
      let formData = new FormData();
      formData.append('name', this.name);
      formData.append('email', this.email);
      formData.append('phone', this.phone);
      formData.append('address', this.address);
      formData.append('zip', this.zip);
      formData.append('profile_pic', this.profile_pic);
      formData.append('document_img', this.document_img);

      axios.post( 'http://localhost:8000/users',
        formData,
        {
            headers: {
                'Content-Type': 'multipart/form-data'
            }
        })
        .then(function(){
          alert('SUCCESS!!');
        })
        .catch(function(){
          alert('FAILURE!!');
        });
    },
    handleUserPicUpload() {
        this.profile_pic = this.$refs.profile_pic.files[0];
    },
    handleDocsUpload() {
        this.document_img = this.$refs.document_img.files[0];
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    form.form {
        width: 550px;
        margin: 0 auto;
        text-align: left;
    }
    form.form h1 {
        margin-bottom: 25px;
    }
    span.error {
        font-size: 12px;
        color: #ff0000;
    }
    @import url('https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css')
</style>
